* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    background-color: #222222;
}

table {
    max-width: 600px;
    min-width: 550px;
    width: 100%;
    margin: 20px auto;
    

    background-color: #3d3d3d;
    color: #EEEEEE;
    border-collapse: collapse;
    border: 2px solid #EEEEEE;
    padding: 5px;
}

th, td {
    border-collapse: collapse;
    border: 2px solid #EEEEEE;
    padding: 5px;
    text-align: center;
}

form {
    max-width: 600px;
    min-width: 550px;
    width: 100%;
    margin: 20px auto;
    text-align: center;

    background-color: #222222;
    color: #EEEEEE;
    font-size: 22px;
    font-weight: bolder;
}

button {
    border: 2px solid #EEEEEE;
    border-radius: 25px;
    color: #EEEEEE;
    background-color: #3d3d3d;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bolder;
}

input {
    border: 1px solid #EEEEEE;
    border-radius: 25px;
    color: #EEEEEE;
    background-color: #3d3d3d;
    padding: 3px 7px;
    font-size: 16px;    
}

.row1 { 
    font-size: 22px;
    font-weight: bolder;
}

#captionTop {
    max-width: 600px;
    min-width: 550px;
    width: 100%;
    margin: 20px auto;
    font-size: 30px;
    font-weight: bolder;
}