* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #222222;
}

table {
    max-width: 600px;
    width: 100%;
    margin: 20px 50% 20px 50%;

    background-color: #3d3d3d;
    color: #EEEEEE;
    border-collapse: collapse;
    border: 2px solid #EEEEEE;
    padding: 5px;
}

th, td {
    border-collapse: collapse;
    border: 2px solid #EEEEEE;
    padding: 5px;
}